section{
    background-color: rgba(255, 255, 255, 0.);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 200px;
    height: auto;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.perfil img{
    display: flex;
    display: block;
    width: 150PX;
    height: 150PX;
    border-radius: 100%;
    margin: 0 auto;
    
}
.perfil p, h4{
    color: white;
}
.perfil h4{
    text-align: center;
}
.red_social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.boton_social{
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.img_red{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
