body {
    background-image: url('Edryxx995/Mis-canciones-favoritas/background.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}
main {
    display: flex;
}
